# Python에서 MySQL 사용하기

In [1]:
import json
import pymysql

In [2]:
with open ('mysql.json', 'r') as file:
    config_str = file.read()
config_str

'{\n    "host" : "localhost",\n    "user" : "hkuser",\n    "password" : "hkpass",\n    "database" : "world",\n    "port" : 3306\n}'

In [3]:
# JSON parsing
config = json.loads(config_str)
config

{'host': 'localhost',
 'user': 'hkuser',
 'password': 'hkpass',
 'database': 'world',
 'port': 3306}

- connection 객체

In [4]:
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port'],
)

In [5]:
cur = conn.cursor()

In [6]:
sql = 'select * from bsball;'
cur.execute(sql)

10

In [7]:
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 43, '강효종', '투수', 30000000)
(2, 12, '김재성', '포수', 31000000)
(3, 52, '이재원', '외야수', 32000000)
(4, 2, '구본혁', '내야수', 63000000)
(5, 19, '고우석', '투수', 180000000)
(6, 42, '박재욱', '포수', 38000000)
(7, 24, '이천웅', '외야수', 190000000)
(8, 62, '김주성', '내야수', 31000000)
(9, 66, '배재준', '투수', 30000000)
(10, 22, '김현수', '외야수', 1000000000)

- Resource 반환

In [8]:
cur.close()
conn.close()